In [2]:
import pandas as pd
# Display floating point numbers with 2 decimal places
pd.set_option('display.float_format', '{:.2f}'.format)
# Display 7 columns at a time
pd.set_option('display.max_columns', 7)
# Read a CSV file
ipl_auction_df = pd.read_csv('IPL_IMB381IPL2013.csv')
# Display the first 5 rows of the DataFrame
#print(ipl_auction_df.head())
# Display metadata of the DataFrame
#print(ipl_auction_df.info())
# List the columns in the DataFrame in a list format
#print(ipl_auction_df.columns.tolist())
# Display first 10 rows of the DataFrame after transposing it
#print(ipl_auction_df.head(5).T)
# Display rows 10 to 20 of the DataFrame
#print(ipl_auction_df.iloc[5:10])
#print(ipl_auction_df[5:10])

# How many players participated from each country? Normalize the count by the total number of players
# Count the number of players from each country
#country_counts = ipl_auction_df['COUNTRY'].value_counts(normalize=True)*100
#country_counts = ipl_auction_df['COUNTRY'].value_counts()
# Display the counts of players from each country
#print(country_counts)
# Display the counts of players from each country in a DataFrame
#country_counts_df = country_counts.reset_index()
#country_counts_df.columns = ['Country', 'Player Count']
#print(country_counts_df)

# Display players count for each age category and role using crosstabulation
pd.crosstab(ipl_auction_df['AGE'], ipl_auction_df['PLAYING ROLE'])

# Find unique values in the 'PLAYING ROLE' column
unique_roles = ipl_auction_df['PLAYING ROLE'].unique()

In [3]:
# Crosstabulation 
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', 7)
ipl_auction_df = pd.read_csv('IPL_IMB381IPL2013.csv')
# Display the first 5 rows of the DataFrame
print(ipl_auction_df.head())

pd.crosstab(ipl_auction_df['AGE'], ipl_auction_df['PLAYING ROLE'])
# Find unique values in the 'PLAYING ROLE' column using value count method
unique_roles = ipl_auction_df['PLAYING ROLE'].unique().tolist()
# Display unique playing roles
print("Unique Playing Roles:", unique_roles)

   Sl.NO.   PLAYER NAME  AGE  ... AUCTION YEAR BASE PRICE SOLD PRICE
0       1   Abdulla, YA    2  ...         2009      50000      50000
1       2  Abdur Razzak    2  ...         2008      50000      50000
2       3   Agarkar, AB    2  ...         2008     200000     350000
3       4     Ashwin, R    1  ...         2011     100000     850000
4       5  Badrinath, S    2  ...         2011     100000     800000

[5 rows x 26 columns]
Unique Playing Roles: ['Allrounder', 'Bowler', 'Batsman', 'W. Keeper']

In [4]:
# Sorting
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', 7)
# Read the CSV file
ipl_auction_df = pd.read_csv('IPL_IMB381IPL2013.csv')
# Sort the DataFrame by 'SOLD PRICE' in descending order and then by 'PLAYER NAME' in ascending order
ipl_auction_df_sorted = ipl_auction_df.sort_values(by=['SOLD PRICE', 'PLAYER NAME'], ascending=[False, True])
print(ipl_auction_df_sorted[['PLAYER NAME', 'SOLD PRICE']].head())


# Add a new column named "PREMIUM" which is the diffeence of 'SOLD PRICE' to 'BASE PRICE'
ipl_auction_df['PREMIUM'] = ipl_auction_df['SOLD PRICE'] - ipl_auction_df['BASE PRICE']

# Display the first 5 rows with display name, sold price, base price, and premium sorted by premium in descending order. Do not create a new DataFrame.
print(ipl_auction_df[['PLAYER NAME', 'SOLD PRICE', 'BASE PRICE', 'PREMIUM']].sort_values(by='PREMIUM', ascending=False).head())


# What is the average sold price of players from each country sorted by sold price descending?
ipl_auction_df.groupby(['COUNTRY', 'AGE'])['SOLD PRICE'].mean().sort_values(ascending=False).reset_index(name='AVERAGE SOLD PRICE')

       PLAYER NAME  SOLD PRICE
50        Kohli, V     1800000
93       Sehwag, V     1800000
111  Tendulkar, SR     1800000
127   Yuvraj Singh     1800000
113     Tiwary, SS     1600000
       PLAYER NAME  SOLD PRICE  BASE PRICE  PREMIUM
50        Kohli, V     1800000      150000  1650000
113     Tiwary, SS     1600000      100000  1500000
127   Yuvraj Singh     1800000      400000  1400000
111  Tendulkar, SR     1800000      400000  1400000
93       Sehwag, V     1800000      400000  1400000

   COUNTRY  AGE  AVERAGE SOLD PRICE
0      ENG    2          1066666.67
1       SL    1           950000.00
2      IND    1           751846.15
3      IND    3           715000.00
4       NZ    2           632000.00
5      IND    2           606428.57
6       SL    3           591666.67
7       SA    3           563000.00
8      AUS    3           515000.00
9      AUS    1           400000.00
10      SA    2           365909.09
11     AUS    2           360000.00
12     PAK    2           350000.00
13      SL    2           295000.00
14      WI    2           295000.00
15     PAK    3           262500.00
16      NZ    3           262500.00
17      WI    3           200000.00
18     ZIM    2           125000.00
19     BAN    2            50000.00

In [5]:
def mulElements(a, b = 2): return a * b
print(mulElements(3))

6